
/*************** sidebar *******************/

.sideBar{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0E0E0F;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    user-select: none;
}

.sideBar > h1{
    font-family: "Pacifico", cursive;
    font-size: 42px;
    display: inline-block;
    position: relative;
    top: 80px;
}

#sidebarLine{
    background-color: #01c916;
    border-color: #01c916;
    width: 99%;
    height: 2px;
    margin-top: 120px;
    opacity: 100% !important;
}

#navBtnHolder{
    position: absolute;
    top: 200px;
    left: -5px;
    list-style-type: none;
}

.navBtn{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    margin: 20px;
    width: 100%;
    padding: 3px;
    border-radius: 7px;
    transition-duration: 200ms;
}

.navBtn:hover{
    background-color: #01c916;

}

.navIcons{
    color: #fff;
}

.logoutBtn{
    position: absolute;
    bottom: 70px;
    font-weight: bold;
    color: #01c916 !important;
    border-color: #01c916 !important;
}

.logoutBtn:hover{
    background-color: #01c916 !important;
    color: #fff !important;
}


/************** navbar *********************/

#navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 250px);     /* subtract by sidebar width */
    height: 60px;
    background-color: #0E0E0F;
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 999;
    user-select: none;
}

.navPointers{
    width: 5px;
    height: 55%;
    border-radius: 3px;
    background-color: #01c916;
    margin: 0 15px;
}

.navDataHolder{
    margin-right: 50px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

/************** main body *********************/

#mainBody{
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: calc(100vw - 250px);     /* subtract by sidebar width */
    height: calc(100vh - 60px);     /* subtract by navbar height */
}

#mainBody > .container{
    margin-top: 30px !important;
}

/**************** dashboard *******************/
/**********************************************/
/**********************************************/

#dashboard{
    /*display: none;*/
}

.cardHolder > .card{
    border: #c0c0c0 solid 2px;
    transition-duration: 500ms;
    user-select: none;
}

.cardHolder> .card:nth-child(1):hover{
    box-shadow: 0 0 5px 2px #2B7FFF;
    border-color: #2B7FFF;
}
.cardHolder> .card:nth-child(2):hover{
    box-shadow: 0 0 5px 2px #00B412;
    border-color: #00B412;
}
.cardHolder> .card:nth-child(3):hover{
    box-shadow: 0 0 5px 2px #FF6900;
    border-color: #FF6900;
}
.cardHolder> .card:nth-child(4):hover{
    box-shadow: 0 0 5px 2px #ffc400;
    border-color: #ffc400;
}

.cardHolder > .card{
    height: 150px;
    margin: 30px 10px;
}

.cardHolder .card-title{
    color: #fff;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
}

#card-icon-1{
    background-color: #2B7FFF;
}

#card-icon-2{
    background-color: #00B412;
}

#card-icon-3{
    background-color: #FF6900;
}

#card-icon-4{
    background-color: #ffc400;
}

.tblHolder{
    margin: 90px;
    padding-bottom: 50px;
    width: 80% !important;
}

caption{
    font-weight: bold;
    font-size: 20px;
    color: #000 !important;
    user-select: none;
}

/******************* POS **********************/
/**********************************************/
/**********************************************/

#pos{
    display: none;
}

.form-control:disabled{
    background-color: #fff !important;
}

.btn-success{
    background-color: #32bb17 !important;
    border-color: #32bb17 !important;;
    color: #000 !important;;
    font-weight: bold !important;;
}

label{
    font-weight: bold;
}

/**************** Customer ********************/
/**********************************************/
/**********************************************/

#customer{
    display: none;
}

.my-btn-group > button:nth-child(1){
    background-color: #32bb17;
    border-color: #32bb17;
    color: #000;
    font-weight: bold;
}

.my-btn-group > button:nth-child(2){
    background-color: #0086DA;
    border-color: #0086DA;
    color: #000;
    font-weight: bold;
}

.my-btn-group > button:nth-child(3){
    background-color: #FE0808;
    border-color: #FE0808;
    color: #000;
    font-weight: bold;
}

.my-btn-group > button:nth-child(4){
    background-color: #A600FF;
    border-color: #A600FF;
    color: #000;
    font-weight: bold;
}

.tblHolder > .navbar{
    background-color: #fff !important;
    width: 80% !important;
    position: relative;
}


/****************** Item **********************/
/**********************************************/
/**********************************************/

#item{
    display: none;
}


/***************** Orders *********************/
/**********************************************/
/**********************************************/

#order{
    display: none;
}

#orderDetailTBody{
    margin-top: 20px !important;
}

#orderTblHolder{
    height: 400px !important;
    overflow-x: hidden;
    position: relative;
}

#orderTable > thead {
    position: sticky;
    top: 0;
}

#orderTable caption{
    position: sticky;
    top: 0;
}